pc_ble_driver_py/**/*.dll
pc_ble_driver_py/**/*.pyd
pc_ble_driver_py/**/*.so
pc_ble_driver_py/**/*.dylib
pc_ble_driver_py/**/*.pyc
pc_ble_driver_py/**/*.hex
pc_ble_driver_py/**/*.txt
pc_ble_driver_py/**/*.zip
pc_ble_driver_py/lib/**/*.py
dist/**
*.egg-info/**
.idea
.vs
.tox
_skbuild
