pc_ble_driver_py/**/*.dll
pc_ble_driver_py/**/*.pyd
pc_ble_driver_py/**/*.so
pc_ble_driver_py/**/*.dylib
pc_ble_driver_py/**/*.pyc
pc_ble_driver_py/**/*.hex
pc_ble_driver_py/**/*.txt
pc_ble_driver_py/**/*.zip
pc_ble_driver_py/lib/**/*.py
pc_ble_driver_py/**/*.pyc
pc_ble_driver_py/**/__pycache__
tests/**/*.pyc
tests/**/__pycache__

dist
*.egg-info/**
.idea
.vs
.tox
_skbuild
_cmake_test_compile



# Hidden utility-folders and files 
**/delete_me*
**/.hidden/
.vscode
node_modules/
