include README.rst
include README.md
include LICENSE
include CMakeLists.txt
include tox.ini
include requirements-dev.txt
include pyproject.toml
recursive-include swig *
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
